h3{
    font-size: 25px !important;

}
.btn-danger:hover{
    background-color: blueviolet;
}
canvas {
    animation-name: example;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
}